@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-regular.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-bold.ttf') format('truetype');
  font-weight: bold; 
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('./fonts/Inter-semibold.ttf') format('truetype');
  font-weight: 600; 
  font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

body {
    background-color: #FAF0CA;
}